* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to right, rgba(128, 0, 128, 0.6), purple, rgba(128, 0, 128, 0.6));
}

.typewriter h1 { 
    font-size: 1.2rem;
    white-space: nowrap;
    text-align: center;
}
@media screen and (min-width: 600px) {

    .typewriter{
        margin-bottom: 5rem;
    }
    .typewriter h1 {
        font-size: 2rem;
        overflow: hidden; 
        border-right: .15em solid white; 
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .40em; 
        word-spacing: .45em;
        animation: 
          typing 9s steps(30, end) infinite,
          blink .5s step-end infinite;
      }
      
      /* The typing effect */
      @keyframes typing {
        0% { width: 0 }
        50% { width: 100% }
        100% { width: 0% }

      }
      
      /* The typewriter cursor effect */
      @keyframes blink {
        from, to { border-color: transparent }
        50% { border-color: white; }
      }
    
}

@media screen and (max-width: 600px) {
    .typewriter h1 {
        font-size: 0.9rem;
        overflow: hidden; 
        border-right: .15em solid white; 
        white-space: nowrap; 
        margin: 0 auto;
        margin-top: -50px; 
        letter-spacing: .08em; 
        animation: 
          typing 9s steps(30, end) infinite,
          blink .5s step-end infinite;
      }

      /* The typing effect */
      @keyframes typing {
        0% { width: 0 }
        50% { width: 100% }
        100% { width: 0% }

      }
      
      /* The typewriter cursor effect */
      @keyframes blink {
        from, to { border-color: transparent }
        50% { border-color: white; }
      }

}

  

/* nav bar button hover issue */
#b1 {
    color: white !important;
    background-color: #605dff !important;
}

#b1:hover {
    background-color: #4f4cff9a !important;
    color: white !important;
}

/* card photo issue */
#about {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white !important;
    font-size: 1.8rem;
}

.c2 {
    background-color: black;
}

@media screen and (max-width: 600px) {
    #about .c3 {
        font-size: .8rem !important;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

footer {
    background-color: grey;
    color: white;
}

footer div footer div div ul li a {
    color: white !important;
}

#linksId {
    line-height: 2.4rem;
}

.c3 {
    background: linear-gradient(93.51deg, rgb(124, 71, 235) 10.94%, rgb(233, 53, 161) 86.95%);
    -webkit-background-clip: text;
    color: white;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 600px) {
    #sp1{
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px) {

    #fihg {
        width: 70%;
    }
    #ulfhg{
        
    }

}

/* For emoji */
#emt{
    background: black;
    -webkit-background-clip: none;
    color: white;
    -webkit-text-fill-color: white;
    border-radius: 50%;  
}


